.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 2px;
}

.square {
    height: 100%;
    width: 100%;
    background-color: rgb(29,29,29);
}

.square:hover {
    background-color: red;
    transition-duration: 1s;
	transition-timing-function:ease;
}